<div>
    <h2>
        <span jhiTranslate="jhipsterSampleApplicationApp.costGride.home.title">Cost Grides</span>
        <button class="btn btn-primary float-right jh-create-entity create-cost-gride" [routerLink]="['/', { outlets: { popup: ['cost-gride-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="jhipsterSampleApplicationApp.costGride.home.createLabel">
            Create new Cost Gride
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="costGrides">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.costGride.fileName">File Name</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.costGride.version">Version</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.costGride.transporter">Transporter</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let costGride of costGrides ;trackBy: trackId">
                <td><a [routerLink]="['../cost-gride', costGride.id ]">{{costGride.id}}</a></td>
                <td>{{costGride.fileName}}</td>
                <td>{{costGride.version}}</td>
                <td>
                    <div *ngIf="costGride.transporterId">
                        <a [routerLink]="['../transporter', costGride.transporterId  ]" >{{costGride.transporterId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../cost-gride', costGride.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'cost-gride/'+ costGride.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'cost-gride/'+ costGride.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
