<div>
    <h2>
        <span jhiTranslate="jhipsterSampleApplicationApp.entryData.home.title">Entry Data</span>
        <button class="btn btn-primary float-right jh-create-entity create-entry-data" [routerLink]="['/', { outlets: { popup: ['entry-data-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="jhipsterSampleApplicationApp.entryData.home.createLabel">
            Create new Entry Data
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="entryData">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.entryData.documentName">Document Name</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.entryData.invoiceTotal">Invoice Total</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.entryData.transporter">Transporter</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let entryData of entryData ;trackBy: trackId">
                <td><a [routerLink]="['../entry-data', entryData.id ]">{{entryData.id}}</a></td>
                <td>{{entryData.documentName}}</td>
                <td>{{entryData.invoiceTotal}}</td>
                <td>
                    <div *ngIf="entryData.transporterId">
                        <a [routerLink]="['../transporter', entryData.transporterId  ]" >{{entryData.transporterId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../entry-data', entryData.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'entry-data/'+ entryData.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'entry-data/'+ entryData.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
